NodeRed
[{"id":"b58ba476b9bcfd96","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"25426748c0f83728","type":"http request","z":"b58ba476b9bcfd96","name":"http gas used","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://consumer-api.data.n3rgy.com/gas/consumption/1","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":340,"y":420,"wires":[["aefa4436fa3087f2"]]},{"id":"c957d2898210377e","type":"influxdb batch","z":"b58ba476b9bcfd96","influxdb":"1aba0ec9.6819b1","precision":"","retentionPolicy":"","name":"homeassistant_daily","database":"database","precisionV18FluxV20":"s","retentionPolicyV18Flux":"","org":"homeassistant","bucket":"bucket","x":860,"y":360,"wires":[]},{"id":"aefa4436fa3087f2","type":"function","z":"b58ba476b9bcfd96","name":"","func":"var i = 0;\nvar total = 0;\nlet temp = [];\nvar temptime = \"\"\nvar msgout1 = {};\nvar msgout2 = {};\nfor (i=0; i<  msg.payload.values.length; i++)  {\n temptime =  msg.payload.values[i].timestamp;\n if (temptime.length==16) {\n     temptime = temptime.replace(\" \",\"T\") + \":00.000Z\";\n }\n temp.push(\n {\n measurement: \"Metered_Energy\",\n fields:  {\n m3: msg.payload.values[i].value\n },\n tags: {\n type: \"gas_consumed\"      \n },\n timestamp:  Date.parse(temptime)*1000000\n }     \n )    \ntotal = total + msg.payload.values[i].value;    \n}\n\nif ( msg.payload.values.length == 48) {\n    msgout2.payload = total;}\nelse {\n    msgout2.payload = 0\n}  \n\n \nmsgout1.payload = temp;\nreturn [msgout1, msgout2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":420,"wires":[["c957d2898210377e"],[]]},{"id":"9b3b46cdae1ce950","type":"http request","z":"b58ba476b9bcfd96","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://consumer-api.data.n3rgy.com/electricity/consumption/1","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":330,"y":360,"wires":[["b5107e4f84cf1dfa","011baa706423bb12"]]},{"id":"19110c2ffe91d985","type":"inject","z":"b58ba476b9bcfd96","name":"","props":[{"p":"headers.Authorization","v":"ABCDEFGH","vt":"str"}],"repeat":"","crontab":"15 06 * * *","once":false,"onceDelay":0.1,"topic":"","x":130,"y":360,"wires":[["9b3b46cdae1ce950","25426748c0f83728"]]},{"id":"b5107e4f84cf1dfa","type":"debug","z":"b58ba476b9bcfd96","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":260,"wires":[]},{"id":"011baa706423bb12","type":"function","z":"b58ba476b9bcfd96","name":"","func":"var i = 0;\nvar total = 0;\nlet temp = [];\nvar value_list = [];\nvar status_list = [];\nvar temptime = \"\"\nvar msgout1 = {};\nvar msgout2 = {};\nfor (i=0; i<  msg.payload.values.length; i++)  {\n temptime =  msg.payload.values[i].timestamp;\n if (temptime.length==16) {\n     temptime = temptime.replace(\" \",\"T\") + \":00.000Z\";\n }\n temp.push(\n {\n measurement: \"Metered_Energy\",\n fields:  {\n kWh_in: msg.payload.values[i].value\n },\n tags: {\n type: \"electricity_consumed\"      \n },\n timestamp:  Date.parse(temptime)*1000000\n }     \n )    \ntotal = total + msg.payload.values[i].value;    \n}\n\nif ( msg.payload.values.length == 48) {\n    msgout2.payload = total;}\nelse {\n    msgout2.payload = msg.payload.values.length\n}  \n\n \nmsgout1.payload = temp;\nreturn [msgout1, msgout2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":360,"wires":[["c957d2898210377e"],[]]},{"id":"1aba0ec9.6819b1","type":"influxdb","hostname":"192.168.1.150","port":"8086","protocol":"http","database":"homeassistant","name":"homeassistant","usetls":false,"tls":"78605c47.6ab364","influxdbVersion":"1.x","url":"http://192.168.150:8086","rejectUnauthorized":false},{"id":"78605c47.6ab364","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false}]